<section class="p-4 space-y-4 text-center gradient-purple">
    <h2
        class="inline-block px-2 text-lg font-medium border-b-2"
        x-text="t('experiences')"
    ></h2>
    <div class="space-y-2" x-data="{ experiences: data('experience') }">
        <template x-for="(experience, index) in experiences" :key="index">
            <div class="p-4 space-y-1 bg-gray-100 rounded-lg bg-opacity-10">
                <div>
                    <h3 class="font-semibold" x-text="experience.company"></h3>
                    <span x-text="experience.role"></span>
                    <span>•</span>
                    <span x-text="experience.period"></span>
                </div>
                <p class="leading-5 text-justify" x-text="experience.work"></p>
            </div>
        </template>
    </div>
</section>
