<section class="flex items-center h-full p-4 space-x-4 gradient-blue">
    <img
        class="w-16 h-16 border-2 border-transparent rounded-full ring-2 ring-white"
        src="profile.png"
    />
    <div>
        <div class="space-x-2">
            <h1
                class="inline-block text-lg font-semibold"
                x-text="t('name')"
            ></h1>
            <h2
                class="inline-block font-medium text-gray-100"
                x-text="t('role')"
            ></h2>
        </div>
        <div class="space-x-4 text-sm text-gray-100">
            <div class="inline-block">
                <a href="mailto:daniel.freitas@hey.com" x-text="t('email')"></a>
            </div>
            <div class="inline-block">
                <a href="https://github.com/scrlkx" x-text="t('github')"></a>
            </div>
            <div class="inline-block">
                <span x-text="t('location')"></span>
            </div>
        </div>
    </div>
</section>
