<section class="p-4 space-y-4 text-center gradient-pink">
    <h2
        class="inline-block px-2 text-lg font-medium border-b-2"
        x-text="t('skills')"
    ></h2>
    <div class="space-y-2" x-data="{ skills: data('skill') }">
        <template x-for="(set, index) in skills" :key="index">
            <div class="space-x-2">
                <template x-for="(skill, index) in set" :key="index">
                    <span
                        class="px-4 py-1 text-sm text-gray-900 bg-gray-100 rounded-full"
                        x-text="skill"
                    ></span>
                </template>
            </div>
        </template>
    </div>
</section>
